@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto+Condensed&display=swap');

:root {
    --white: white;
    --black-alpha: rgba(0, 0, 0, .5);
    --orange: rgb(255, 152, 0);
    --orange-alpha: rgb(255, 208, 0);
    --orange-red-alpha: rgba(255, 87, 81, 1);
    --dark-orange-red-alpha: rgba(255, 81, 87, 1);
    --orange-white: rgba(249, 245, 241, 1);
    --Roboto: 'Roboto Condensed', sans-serif;
    --off-black: #343a40;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--orange-white) !important;
}

.nav-bar {
    background-color: var(--orange-red-alpha);
    color: var(--white);

    .navbar-toggler .navbar-toggler-icon {
        color: var(--white);
    }

    .navbar-nav {
        cursor: pointer;

        .nav-item {

            &.active,
            &:hover {
                color: var(--off-black);
                text-decoration: underline;
            }
        }
    }
}

.body-content {
    .page-header {
        color: var(--orange);
    }

    .about-me {
        .image-thumbnail {
            width: 150px;
            border-radius: 50%;
        }
    }

    .portfolio {
        &-img {
            height: 165px;
        }

        .portfolio-link {
            color: var(--off-black);

            &:not(:hover) {
                text-decoration: none;
            }
        }
    }

    .resume {
        &-header {
            font-size: 1rem;
        }
    }

    .contact {
        max-width: 600px;
    }

}

.footer {
    height: 70px;
    background-color: var(--off-black);

    a {
        color: var(--white);
    }
}

@media only screen and (min-width: 768px) {
    .body-content {
        .portfolio {
            &-img {
                height: 250px;
            }

            max-width: 900px;
            margin: 0 auto;
        }

    }
}